html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.top-bar{
    border-bottom: 2px solid #efefef;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 0.6em;
    color:black;
}
.top-bar a{
color: black;
}
.top-bar a{
    text-decoration: none;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  top:5px;
  left: -10px;
 
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.side-navigation{
    text-decoration: none;
    margin: 0px 10px;
    padding: 15px;
    font-size: 12px;
    list-style-type: none;
}

.side-navigation li{
    border-bottom: 1px solid #fff;
    padding: 5px 1px;
    margin-right: 20px;
}
#side-nav-link{
background: #282E2F 
}