<app-secondnav style="position:relative;height:100vh"></app-secondnav>
<app-filter [hidden]="isNotFilter"></app-filter>
<div class="row">
  <div class="col-md-7">
    <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
  </div>
  <div class="col-md-5 img-container" style="overflow-y:scroll;height:100vh;overflow-x:hidden">
    <div style="padding-bottom:5px;position:relative">
    <img src="assets/images/1.png" alt="" style="width:100%">
      
    <p style="position:absolute;top:20%;background:#47C798;color:#fff;padding:5px 10px;border-radius:2px">$1,455</p>
    <ul class="img-text">
      <li class="img-text-left">123, Spring Hill Road<span style="display:block">Charlotte,NC</span></li>
      <li class="img-text-right">1,7222<span style="display:block">Sq,ft</span></li>
      
      <li class="img-text-right">3<span style="display:block">Ba</span></li>
      
      <li class="img-text-right">2<span style="display:block">Br</span></li>
      
      <li class="img-text-right" style="margin:auto;display:block">$230,000</li>
      
      
    </ul>

    <img src="assets/images/icons/fav.svg" alt="" style="position: absolute;top:10px;right:10px;color:#fff;width:30px">
    </div>

    <div style="padding-bottom:5px;position:relative">
    <img src="assets/images/2.png" alt="" style="width:100%">
    <p style="position:absolute;top:20%;background:#47C798;color:#fff;padding:5px 10px;border-radius:2px">$1,455</p>
    
        <ul class="img-text">
      <li class="img-text-left">123, Spring Hill Road<span style="display:block">Charlotte,NC</span></li>
      <li class="img-text-right">1,7222<span style="display:block">Sq,ft</span></li>
      
      <li class="img-text-right">3<span style="display:block">Ba</span></li>
      
      <li class="img-text-right">2<span style="display:block">Br</span></li>
      
      <li class="img-text-right" style="margin:auto;display:block">$240,000</li>
      
      
    </ul>

    <img src="assets/images/icons/fav.svg" alt="" style="position: absolute;top:10px;right:10px;color:#fff;width:30px">
    
    </div>


    <div style="padding-bottom:5px;position:relative">
    <img src="assets/images/3.jpg" alt="" style="width:100%">
    <p style="position:absolute;top:20%;background:#47C798;color:#fff;padding:5px 10px;border-radius:2px">$1,455</p>
    
    
    <div></div>
      <ul class="img-text">
      <li class="img-text-left">123, Spring Hill Road<span style="display:block">Charlotte,NC</span></li>
      <li class="img-text-right">1,7222<span style="display:block">Sq,ft</span></li>
      
      <li class="img-text-right">3<span style="display:block">Ba</span></li>
      
      <li class="img-text-right">2<span style="display:block">Br</span></li>
      
      <li class="img-text-right" style="margin:auto;display:block">$230,000</li>
      
      
    </ul>

    <img src="assets/images/icons/fav.svg" alt="" style="position: absolute;top:10px;right:10px;color:#fff;width:30px">
  
</div>
